<%- include partials/header.ejs %>


<h1>About</h1>
<body>
 
        <div class="container">
<p>I'm Gurpanth Singh
A georgian college student continuing education in Computer Science

My current education in computer science, I have gained proficiency in software and web development. In summation I have gathered knowledge about the Software Development Lifecycle (SDLC)

Evidence of my leadership and analytical skills can be seen in my responsibilities as a developer at my commitment to my academics. My current educational in computer science has given me the proficiency to work independently and the ability to think logically</p>
        </div>
</div>
</body>
</html>