<%- include partials/header.ejs %>
<body>
<div>
        <address>
      <strong>Gurpanth's Portfolio</strong><br>
      364 Duckworth Street<br>
      L4M 6L7 Barrie, ON<br>
      <abbr title="Phone">P:</abbr> (705) 220-3002
    </address>
     
    <address>
      <strong>Gurpanth Singh</strong><br>
      <a href="mailto:#">gurpanth@hotmail.com</a>
    </address>
</div>
</body>
</html>