<%- include partials/header.ejs %>

  <body>

      
<div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px">
  <div class="container">
    <p>Welcome to Gurpanth's Portfolio</p>
  </div>
</div>
    <div class="container">
      <p>My objective is to utilize my software and web development skills for achieving the target and delevering the best performance. By implement my ideas and creativity for accomplishing the projects.

This is a sample of one of my front end design</p>
        
      </div>
      
     
  </body>
</html>

  </body>
</html>
