<%- include partials/header.ejs %>
<div class="jumbotron" style="opacity: 0.5; position: relative; bottom: 20px">
  <div class="container">
    <h2>Services</h2>
  </div>
</div>

 <p>These are the services I provide</p>
    <table>
  <tr>
      <th><strong>Coding and Modularization</strong></th>
  </tr>
  <tr>
        <div class="container">
      <td>As a developer I want to delever a clean format of coding for my clients. Weather writing it from scratch or modifying an existing one!!!! You name it.	
      </td>
      </div>
        </tr>
      
        
          <tr>
      <th><strong>Server Configuration and Maintainence</strong></th>
  </tr>
  <tr>
        <div class="container">
      <td>I have proficiency in running web based servers and databse using OOP programming for web and software development and I will make sure they are never down	
      </td>
      </div>
        </tr>
        
        
                  <tr>
      <th><strong>Responsive Web Designing</strong></th>
  </tr>
  <tr>
        <div class="container">
      <td>Creating responsive designs for web sites, delivering proper format of code and easy understandibility as a users point of experience because users needs are my services.	
      </td>
      </div>
        </tr>
</table>

</body>
</html>